<nav id="nav">
<link rel="stylesheet" href="/css/sign.css">
  <% if (user) { %>
      <a id="all-cars" href="/cars">All cars</a>
      <a id="sign-out" href="/auth/sign-out">Sign Out</a>
  <% } else { %>
      <a style="margin-right: 20px;" id="sign-up" href="/auth/sign-up">Sign Up</a>
      <a id="sign-in" href="/auth/sign-in">Sign In</a>
  <% } %>
</nav>
