<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="./css/home.css">
</head>

<body>
  <!-- <h1>welcome to my app</h1> -->

  <% if (user) { %>
  <a id="sign-out" href="./auth/sign-out">sign out</a>
  <h1>Welcome to the car show, <%= user.username %>!</h1>
  <a id="all-cars" href="/cars">See all Cars</a>

  <% } else { %>
  <h1>Welcome guest, sign in to proceed.</h1>
  <p><%-include('./partials/nav.ejs') %></p>
  <% } %>
</body>

</html>
