body{
  background-color: rgb(245, 242, 231);
}

body h1 {
  display: flex;
  max-width: 800px;
  justify-content: center;
  margin: 0 auto;
  color: rgb(107, 82, 49);
  background-color: blanchedalmond;
font-size: 50px;
font-style: oblique;
padding: 7px 20px;

}
#new{
  display: flex;
    display:inline-block;
  font-size: 25px;
    font-style: oblique;
  justify-content: center;
  align-items: center;
  margin: 12px;
  margin-left: 650px;
  padding: 14px;
  background-color: rgb(212, 195, 172);
  color: rgb(107, 82, 49);
  border-radius: 40px;
text-align: center;
}
#cars{
   display: flex;
    display:inline-block;
    max-width: 800px;
  font-size: 25px;
    font-style: oblique;
  justify-content: center;
  align-items: center;
  margin: 30px;
margin-top: auto;
  padding: 34px;
  background-color: rgb(212, 195, 172);
  border-radius: 40px;
  color: rgb(107, 82, 49);
}
#button{
    gap: 50px;
  height: auto;
  width: 10%;
  padding: 5px;
  font-size: large;
  background-color: #fbe4c2;
  border-radius: 100px;
  box-shadow: rgba(187, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(187, 163, 44, 0.15) 0 1px 2px, rgba(187, 187, 99, 0.15) 0 2px 4px,
    rgba(187, 187, 99, 0.15) 0 4px 8px, rgba(187, 187, 99, 0.15) 0 8px 16px,
    rgba(187, 187, 99, 0.15) 0 16px 32px;
  color: rgb(128, 102, 0);
  cursor: pointer;
  display: inline-block;

  font-size: large;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 24px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 15px;
}
#button:hover{
   box-shadow: rgba(187, 161, 44, 0.35) 0 -25px 18px -14px inset,
    rgba(187, 149, 44, 0.25) 0 1px 2px, rgba(187, 142, 44, 0.25) 0 2px 4px,
    rgba(187, 156, 44, 0.25) 0 4px 8px, rgba(187, 149, 44, 0.25) 0 8px 16px,
    rgba(187, 137, 44, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
#new {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: auto;
  width: 100px;
  padding: 5px;
  font-size: large;
  background-color: #fbe4c2;
  border-radius: 5xpx;
  box-shadow: rgba(187, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(187, 163, 44, 0.15) 0 1px 2px, rgba(187, 187, 99, 0.15) 0 2px 4px,
    rgba(187, 187, 99, 0.15) 0 4px 8px, rgba(187, 187, 99, 0.15) 0 8px 16px,
    rgba(187, 187, 99, 0.15) 0 16px 32px;
  color: rgb(128, 102, 0);
  cursor: pointer;
  display: inline-block;

  font-size: large;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 24px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 15px;
}

#new:hover {
  box-shadow: rgba(187, 161, 44, 0.35) 0 -25px 18px -14px inset,
    rgba(187, 149, 44, 0.25) 0 1px 2px, rgba(187, 142, 44, 0.25) 0 2px 4px,
    rgba(187, 156, 44, 0.25) 0 4px 8px, rgba(187, 149, 44, 0.25) 0 8px 16px,
    rgba(187, 137, 44, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

#details-btn {
  gap: 50px;
  height: auto;
  width: 100px;
  padding: 5px;
  font-size: large;
  background-color: #fbe4c2;
  border-radius: 5xpx;
  box-shadow: rgba(187, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(187, 163, 44, 0.15) 0 1px 2px, rgba(187, 187, 99, 0.15) 0 2px 4px,
    rgba(187, 187, 99, 0.15) 0 4px 8px, rgba(187, 187, 99, 0.15) 0 8px 16px,
    rgba(187, 187, 99, 0.15) 0 16px 32px;
  color: rgb(128, 102, 0);
  cursor: pointer;
  display: inline-block;

  font-size: large;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 24px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 15px;
}

#details-btn:hover {
  box-shadow: rgba(187, 161, 44, 0.35) 0 -25px 18px -14px inset,
    rgba(187, 149, 44, 0.25) 0 1px 2px, rgba(187, 142, 44, 0.25) 0 2px 4px,
    rgba(187, 156, 44, 0.25) 0 4px 8px, rgba(187, 149, 44, 0.25) 0 8px 16px,
    rgba(187, 137, 44, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
#car-list{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
