body{
   background-color: rgb(245, 242, 231);
}

body h1 {
  display: flex;
  justify-content: center;
  margin: 5% auto;
  color: rgb(42, 66, 58);
  background-color: blanchedalmond;
font-size: 50px;
font-style: oblique;
padding: 7px 20px;

}
#create-car{
background-color: rgb(239, 216, 182);
display: flex;
justify-content: last baseline;
flex-direction: column;
font-style: oblique;
margin: 20px;
color: rgb(107, 82, 49);
font-size: 25px;
 border-radius: 20px;
 padding: 5px;
     display: flexbox;
}

#country{
display: flex;
font-style: oblique;
margin: auto;
color: rgb(107, 82, 49);
font-size: 15px;
 border-radius: 20px;
 padding: 5px;
}
#name{
display: flex;
font-style: oblique;
margin: auto;
color: rgb(107, 82, 49);
font-size: 15px;
 border-radius: 20px;
 padding: 5px;
}
#image{
display: flex;
font-style: oblique;
margin: auto;
color: rgb(107, 82, 49);
font-size: 15px;
 border-radius: 20px;
 padding: 5px;
}
#price{
display: flex;
font-style: oblique;
margin: auto;
color: rgb(107, 82, 49);
font-size: 15px;
 border-radius: 20px;
 padding: 5px;
}
#year{
display: flex;
font-style: oblique;
margin: auto;
color: rgb(107, 82, 49);
font-size: 20px;
 border-radius: 20px;
 padding: 5px;
}
#damaged{
display: flex;
font-style: oblique;
margin: auto;
color: rgb(107, 82, 49);
font-size: 20px;
 border-radius: 20px;
 padding: 5px;
}
#description{
display: flex;
font-style: oblique;
margin: auto;
color: rgb(107, 82, 49);
font-size: 25px;
 border-radius: 20px;
 padding: 5px;
}
#button{
  display: flex;
  align-items: end;
    gap: 50px;
  height: auto;
  width: 10%;
  padding: 5px;
  font-size: large;
  background-color: #edc58c;
  border-radius: 100px;
  box-shadow: rgba(187, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(187, 163, 44, 0.15) 0 1px 2px, rgba(187, 187, 99, 0.15) 0 2px 4px,
    rgba(187, 187, 99, 0.15) 0 4px 8px, rgba(187, 187, 99, 0.15) 0 8px 16px,
    rgba(187, 187, 99, 0.15) 0 16px 32px;
  color: rgb(128, 102, 0);
  cursor: pointer;
  display: inline-block;

  font-size: large;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 24px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 15px;
}
#button:hover{
   box-shadow: rgba(187, 161, 44, 0.35) 0 -25px 18px -14px inset,
    rgba(187, 149, 44, 0.25) 0 1px 2px, rgba(187, 142, 44, 0.25) 0 2px 4px,
    rgba(187, 156, 44, 0.25) 0 4px 8px, rgba(187, 149, 44, 0.25) 0 8px 16px,
    rgba(187, 137, 44, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
