body {
  background-color: rgb(236, 228, 228);

}
#login label {
margin: 12px;
  color: rgb(42, 66, 58);
}

#login{
  display: flex;
  flex-direction: column;
    justify-content: center;
  align-items: center;
  margin: 100px
}



#password{
  justify-content: center;
  align-items: center;
}
