<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add new Car</title>
    <link rel="stylesheet" href="/css/create.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
  <h1>Add New Car</h1>

  <form id="create-car" action="/cars" method="POST">


    <label id="country" for="country">country:</label>
    <input type="text" name="country" id="country" required />

    <label id="name" for="name">name:</label>
    <input type="text" name="name" id="name" required />

    <label id="image" for="image">image here:</label>
    <input type="text" name="image" id="image" required />


    <label id="price" for="price">Price:</label>
    <input type="number" name="price" id="price" min="0" required />

    <label id="year" for="year">year:</label>
    <input type="number" name="year" id="year" min="1900" required />

    <label id="damaged" for="damaged">if damaged:</label>
    <input type="checkbox" name="damaged" id="damaged" />


    <label id="description" for="description">description: </label>
    <input type="text" name="description" id="description">

    <button id="button" type="submit">Add Car</button>

  </form>

</body>

</html>
