<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add new Car</title>
</head>

<body>
  <h1>create a post</h1>
  <%- include('../partials/nav.ejs') %>
  <h1>Add New Car</h1>

  <form action="/cars" method="POST">
    <label for="country">country:</label>
    <input type="text" name="country" id="country" required />

    <label for="name">name:</label>
    <input type="text" name="name" id="name" required />

    <label for="image">image here:</label>
    <input type="text" name="image" id="image" required />


    <label for="price">Price:</label>
    <input type="number" name="price" id="price" min="0" required />

    <label for="year">year:</label>
    <input type="number" name="year" id="year" min="1950" required />

    <label for="damaged">if damaged:</label>
    <input type="checkbox" />

    <button type="submit">Add Car</button>

  </form>

</body>

</html>
